.container {
  display: flex;
  grid-auto-flow: column;
  gap: 2rem;
  justify-content: center;
  width: 90%;
  max-width: 75rem;
  margin: auto;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.card {
  height: 20rem;
  width: 20rem;
}
